 #section_1821644824 {
 	padding-top: 30px;
 	padding-bottom: 30px;
 	background-color: rgb(255, 255, 255)
 }

 #section_1821644824 .section-bg-overlay {
 	background-color: rgba(255, 255, 255, 0.62)
 }